<style>
 #cxbmxx input{
 	margin:10px;
 }
</style>
<span>查询部门信息</span>
<div id="cxbmxx">
 <form action="/cxbmxx" method="post">
  <span>请输入要查询部门的名称:</span>
  <input type="text" name="dept_name" required="required">
  <input type="submit" value="查询" id="search">
  <span id="tip" data-msg="<%= tip %>"></span>
 </form>
 <script>
 var msg=$("#tip").attr("data-msg");
 if(msg!=""){
 $("#tip").text(msg).css("color","red");
 }
</script>
 <% if(doc!=""){ %>
   <table>
    <tr>
     <th>部门名称</th>
     <th>部门津贴</th>
     <th>部门领导</th>
    </tr>
    <tr>
     <td><%= doc.dept_name %></td>
     <td><%= doc.dept_salary %></td>
     <td><%= doc.dept_leader %></td>
    </tr>
   </table>
 <%}%>
</div>