<style>
 #cxygxx input{
 	margin:10px;
 }
</style>
<span>查询员工信息</span>
<div id="cxygxx">
 <form action="/cxygxx" method="get">
  <span>请输入要查询员工的姓名:</span>
  <input type="text" name="name" required="required">
  <input type="button" value="查询" id="search">
 </form>
 <% if(query!=""){ %>
   <table>
    <tr>
     <th>姓名</th>
     <th>年龄</th>
     <th>工种</th>
     <th>部门</th>
    </tr>
    <tr>
     <td><%= query.name %></td>
     <td><%= query.age %></td>
     <td><%= query.basic_profession %></td>
     <td><%= query.dept_name %></td>
    </tr>
   </table>
 <%}%>
</div>