<link href="css/lrygxx.css" type="text/css" rel="stylesheet">
<span>录入员工处罚信息:</span>
<div id="lrygxx">
 <form action="/lrcfxx" method="post">
  姓名:<input type="text" name="name" placeholder="请输入员工姓名..." required="required">
  处罚次数:<input type="number" name="op_times" required="required"><br/>
  处罚类型:<select name="op_kind">
  <option>--请选择--</option>
   <% if(otherpunishkind.length){
         otherpunishkind.forEach(function(op){ %>
   <option><%= op.op_kind %></option>
   <% })} %>
  </select><br/>
  <input class="btn" type="submit" value="录入">
  <input class="btn" type="reset" value="重置">
  <span id="tip" data-tip="<%= lrcfxxTip %>"></span>
  <script>
   var msg=$("#tip").attr("data-tip");
   if(msg!=""){
   $("#tip").text(msg).css("color","red");
   }
  </script>
 </form>
</div>