<div style="width:100%;margin:0 auto;text-align:center">
 <form action="" method="post">
  姓名:<input type="text" name="name" placeholder="请输入员工姓名..." required="required"><br/>
  年龄:<input type="number" name="age" required="required"><br/>
  工种:<select name="basic_profession"><br/>
  <option>--请选择--</option>
   <%if(profession.length){
         profession.forEach(p){%>
   <option><%=p.basic_profession%></option>
   <%})}%>
  </select><br/>
  部门:<select name="dept_name"><br/>
  <option>--请选择--</option>
   <%if(dept.length){
         dept.forEach(d){%>
   <option><%=d.dept_name%></option>
   <%})}%>
  </select>
  <input type="submit" value="录入">
  <input type="reset" value="重置">
 </form>
</div>